@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(../multimedia/starry_sky_night_trees_133346_1920x1080.jpg);
  background-size: auto;
}



.titulos-nav {
  color: azure;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-top: 35px;
  -webkit-box-shadow: 0 0px 5px;
          box-shadow: 0 0px 5px;
  font-size: 35px;
}

.vino1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-left: 1px;
}

.vino2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-left: 1px;
}

.vino3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-left: 1px;
}

p {
  font-size: 19px;
  color: white;
  text-justify: auto;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 2em;
}

.card-item {
  margin: 0;
  padding: 0;
  color: #ac1919;
  width: 30vw;
  padding: 3%;
  padding-left: 7%;
}

.card-item img {
  background-color: #051a2e;
  padding: 0.3em;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2em;
}

.redes ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

i {
  color: white;
  font-size: 2em;
  padding: 0.5em;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

i:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-filter: drop-shadow(4px 4px #ad0707);
          filter: drop-shadow(4px 4px #ad0707);
}

footer {
  margin-top: 45px;
  margin-left: 850px;
}

article {
  padding-top: 100px;
  padding-left: 100px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header header header header header header"
 "main main main main main main"
 "sidebar1 sidebar1 sidebar1 sidebar1 sidebar1 sidebar1"
 "sidebar2 sidebar2 sidebar2 sidebar2 sidebar2 sidebar2"
 "widgets widgets widgets widgets widgets widgets"
 "footer footer footer footer footer footer";
}

/* Media for >600px */
@media (max-width: 950px) {
  .grid-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

ul {
  list-style-type: none;
}

h2 {
  color: white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.grid-container2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.texto-grid2 {
  padding-top: 200px;
}

.valle-de-uco {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-style: italic;
  text-align: center;
  padding-left: 44px;
  margin-right: 300px;
}

.mapa1 {
  margin-top: -50px;
}

.titulo-visitanos {
  font-size: 55px;
  margin-top: -170px;
  text-decoration: underline;
  padding-left: 140px;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.back-button {
  margin-left: 300px;
}

.topheader {
  -webkit-box-shadow: 0 4px 5px;
          box-shadow: 0 4px 5px;
  background-color: white;
}

.topnav {
  display: flex;
  justify-content: space-between;
  padding: 35px;
  max-width: 980px;
  text-align: right;
  margin-left: 45px;
}

/* logo */
.logo {
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-color);
  font-size: 18px;
  
  
  
}

/* Menu */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 0px 70px;
}

.menu a {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 2;
  line-height: 50px;
  text-transform: uppercase;
}

.open-menu,
.close-menu {
  display: none;
}

.tituloprincipal {
  margin-left: 120px;
  margin-top: -100px;
  font-size: 50px;
}

.copavino {
  margin-left: 10px;
  margin-top: 15px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

header nav ul a {
  font-weight: bold;
  background-color: white;
  color: #da2710;
  padding: 0.1em;
  border-radius: 10px;
  -webkit-transition: ease-in-out 0.0001s;
  transition: ease-in-out 0.0001s;
}

nav a:hover {
  background-color: #da2710;
  color: black;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.descripcion {
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 23px;
  font-family: 'Oswald', sans-serif;
}

h3{
  margin-top: 15px;
  color: red;
}

/*# sourceMappingURL=paginas-nav.css.map */